/* Global Style Components */
:root {
  /* colors */
  --primary: hsl(204, 77%, 57%); /* Pixelated Blue */
  --secondary: hsl(1, 83%, 58%); /* Retro Red */
  --tertiary: hsl(48, 100%, 50%); /* Electric Yellow */
  --quadriery: hsl(136, 63%, 47%); /* Forest Green */
  --white: hsl(0, 0%, 95%); /* Off White*/
  --black: hsl(0, 0%, 5%); /* Not Black */
  --background: hsl(0, 6%, 86%); /*Light Grey*/
  --foreground: hsl(0, 7%, 72%); /*Dark Grey*/

  --rounded-border: 100px;
  --rounded-left: 100px 0 0 100px;
  --rounded-right: 0 100px 100px 0;
}

body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  display: flex;
}

h1,
h2,
h3 {
  font-family: "Press Start 2P", sans-serif;
}

/* LOGIN PAGE STYLING */
.heading > h1 {
  font-size: 5rem;
}

button {
  font-family: "Press Start 2P", sans-serif;
  height: 4rem;
  width: 15rem;
  font-size: 2rem;
  margin-top: 20px;
  border: none;
}

button:hover {
  filter: brightness(95%);
}

.card {
  width: 50rem;
  height: fit-content;
  background-color: var(--background);
  border-radius: 24px;
  /* box-shadow: 5px 10px 5px 5px; */
  padding-bottom: 20px;
  margin: 0;
}

.card-header {
  display: flex;
  justify-content: center;
}

.card-header > a > button {
  background-color: var(--foreground);
  color: var(--black);
}

.card-header > a > button[data-type="selected"] {
  background-color: var(--tertiary);
  color: var(--secondary);
}

button.signup,
.card-body > label {
  border-radius: var(--rounded-left);
}

button.signin,
.card-body > input {
  border-radius: var(--rounded-right);
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block: 3rem;
}

.card-body > label {
  font-family: "Press Start 2P", sans-serif;
  color: var(--white);
  background-color: var(--primary);
  padding-block: 1.28rem;
  width: 12rem;
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
}

.card-body > input {
  border: none;
  height: 3.4rem;
  width: 30rem;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.card-footer > button {
  border-radius: var(--rounded-border);
  background-color: var(--tertiary);
  color: var(--secondary);
  margin: 0;
}
