<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/public/css/styles.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap"
    />
    <title>Document</title>
  </head>
  <body>
    {{#if logged_in}}
    {{!-- render the main page --}}
      {{{body}}}
    {{else}}
    {{!-- render the signin/signup page --}}
      {{{login}}}
    {{/if}}

    {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
  
</html>