/* ------------------------------Global Style Components------------------------------ */

:root {
  /* colors */
  --primary: hsl(204, 77%, 57%); /* Pixelated Blue */
  --secondary: hsl(1, 83%, 58%); /* Retro Red */
  --tertiary: hsl(48, 100%, 50%); /* Electric Yellow */
  --quadriery: hsl(136, 63%, 47%); /* Forest Green */
  --white: hsl(0, 0%, 95%); /* Off White*/
  --black: hsl(0, 0%, 5%); /* Not Black */
  --background: hsl(0, 6%, 86%); /*Light Grey*/
  --foreground: hsl(0, 7%, 72%); /*Dark Grey*/

  --rounded-border: 100px;
  --rounded-left: 100px 0 0 100px;
  --rounded-right: 0 100px 100px 0;
  --rounded-square: 24px;
}

body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Press Start 2P", sans-serif;
}

h1 {
  font-size: 5rem;
}

/* ------------------------------LOGIN PAGE STYLING------------------------------ */
.login-page {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-inline: 17.31298rem;
}

button {
  font-family: "Press Start 2P", sans-serif;
  border: none;
}

button:hover {
  filter: brightness(95%);
}

.card {
  width: 55rem;
  height: fit-content;
  background-color: var(--background);
  border-radius: 24px;
  padding-bottom: 20px;
  margin: 0;
}

.card-header {
  display: flex;
  justify-content: center;
}

.card-header > a > button,
.card-footer > button {
  background-color: var(--foreground);
  color: var(--black);
  height: 4rem;
  width: 20rem;
  font-size: 2rem;
  margin-top: 20px;
}

.card-header > a > button[data-type="selected"] {
  background-color: var(--tertiary);
  color: var(--secondary);
}

button#signup,
.card-body > label {
  border-radius: var(--rounded-left);
}

button#signup {
  text-align: left;
  padding-left: 30px;
}

button#signin,
.card-body > input {
  border-radius: var(--rounded-right);
}

button#signin {
  text-align: right;
  padding-right: 30px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block: 3rem;
}

.card-body > label {
  font-family: "Press Start 2P", sans-serif;
  color: var(--white);
  background-color: var(--primary);
  padding-block: 1.28rem;
  width: 12rem;
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
}

.card-body > input {
  border: none;
  height: 3.4rem;
  width: 35rem;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.signup {
  /* Add Class through JS only when "signin" has the data-type = selected */
  display: none;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.card-footer > button {
  border-radius: var(--rounded-border);
  background-color: var(--tertiary);
  color: var(--secondary);
  margin: 0;
}
/* ------------------------------NAVIGATION STYLING------------------------------ */
.nav {
  grid-area: nv; /* nav */
  margin-right: 2rem;
  width: 8rem;
  background-color: var(--background);
  border-radius: var(--rounded-square);
  position: sticky;
  position: -webkit-sticky;
  max-height: 90vh;
}

.nav > ul {
  list-style: none;
}

.nav-icon {
  height: 4rem;
  width: 4rem;
  transform: translateX(-5px);
  background-color: var(--foreground);
  border-radius: var(--rounded-border);
  margin-bottom: 2rem;
}

.nav-icon:hover {
  background-color: var(--tertiary);
}

#profile-icon {
  margin-top: 18rem;
}

.options {
  cursor: pointer;
  background-color: var(--primary);
  text-align: center;
  color: white;

  /* display: none; */
}

.options:hover {
  display: block;
}

.options > h5:hover {
  background-color: var(--quadriery);
  padding-block: 0.5rem;
}

/* ------------------------------HOMEPAGE STYLING------------------------------ */

.card1 {
  grid-area: lc; /* left card */
}
.card2 {
  grid-area: rc; /* right card */
}
.todo {
  grid-area: ct; /* content */
}

.homepage {
  margin: 20px 40px;
  display: grid;
  grid-template-areas:
    "nv lc lc lc rc rc rc"
    "nv ct ct ct ct ct ct"
    "nv ct ct ct ct ct ct";
}

.viewCard {
  width: 35rem;
  height: 20rem;
  background-color: var(--background);
  text-align: center;
  border-radius: var(--rounded-square);
}

.viewCard-inner {
  margin-top: 9rem;
}

.viewCard-inner > h2 {
  font-size: 3rem;
}

.todo {
  background-color: var(--background);
  width: 72rem;
  margin-top: 2rem;
  min-height: 100rem;
  border-radius: var(--rounded-square);
}

#listArea > button {
  border-radius: var(--rounded-border);
  background-color: var(--tertiary);
  position: sticky;
  width: 3.4rem;
  height: 3.4rem;
}

#listArea > button > img {
  width: 2rem;
  height: 2rem;
}

/*------------------------------MODAL STYLING------------------------------ */

.questModal [open] {
  display: flex;
}

.questModal {
  border: 0.75rem solid var(--tertiary);
  border-radius: var(--rounded-square);
  text-align: center;
  flex-direction: column;
  max-width: 40rem;
  background-color: var(--background);
}

.dialog-header {
  border-radius: 0 0 24px 24px;
  font-size: 2rem;
  background-color: var(--tertiary);
  color: var(--secondary);
  width: 42.1rem;
  padding-block: 1.5rem;
  margin-left: -16px;
  margin-top: -2rem;
}

.questModal > form > p {
  font-size: 2rem;
}

.questModal > form > input {
  /*Input Field Styling*/
  text-align: center;
  margin: 2rem 0 0 0;
  background-color: var(--foreground);
  border-radius: var(--rounded-square);
  border: none;
  width: 28.5rem;
  font-size: 1.5rem;
}

.questType {
  /* User Quest Type Styling*/
  height: 4rem;
}

.questForm {
  /* User Quest Input Styling*/
  height: 10rem;
}

.questModal > form > input::placeholder {
  text-align: center;
  font-style: italic;
}

.questModal > button {
  border-radius: var(--rounded-border);
  background-color: var(--tertiary);
  position: sticky;
  width: 3.4rem;
  height: 3.4rem;
}

.questModal > button > img {
  width: 2rem;
  height: 2rem;
}
